@charset "UTF-8";
a, input, select {
  outline: none; }

body {
  font: 16px/1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body, p {
  color: #ffffff; }

h1, h2, h3, h4, h5, h6, p, body, .sub-nav dt, .sub-nav dd, .sub-nav li, .tabs dd > a, .tabs .tab-title > a, .top-bar-section ul li > a, .accordion .accordion-navigation > a, .accordion dd > a, button, .button, .label, .pricing-table .title, .pricing-table .price, .side-nav, .side-nav li.active > a:first-child:not(.button) {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.mt-1 {
  margin-top: 18px; }

.mt-2 {
  margin-top: 36px; }

.mt-3 {
  margin-top: 54px; }

.mt-4 {
  margin-top: 72px; }

.mb-1 {
  margin-bottom: 18px; }

.mb-2 {
  margin-bottom: 36px; }

.mb-3 {
  margin-bottom: 54px; }

.mb-4 {
  margin-bottom: 72px; }

.pt-1 {
  padding-top: 18px; }

.pt-2 {
  padding-top: 36px; }

.pt-3 {
  padding-top: 54px; }

.pt-4 {
  padding-top: 72px; }

.pb-1 {
  padding-bottom: 18px; }

.pb-2 {
  padding-bottom: 36px; }

.pb-3 {
  padding-bottom: 54px; }

.pb-4 {
  padding-bottom: 72px; }

.vertical-align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.semitransparent {
  opacity: .5; }

.ship-body {
  background-size: cover;
  background-position: center center; }

.ship-container {
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.8); }

.ship-login-title {
  color: #ffffff; }

.ship-login-message {
  color: rgba(255, 255, 255, 0.5); }

.ship-form-container .label-text, .ship-form-container .label-text-title, .ship-form-container .label-text-help, .ship-form-container .label-text-error {
  padding-left: 16px;
  padding-right: 16px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 0.8em;
  margin: 0; }

.ship-form-container {
  margin: 0 auto;
  width: 300px;
  text-align: left; }
  .ship-form-container .row {
    display: block;
    border: none; }
    .ship-form-container .row .row {
      margin: 0; }
  .ship-form-container .columns, .ship-form-container form .row .row .columns {
    padding: 0; }
  .ship-form-container fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.08);
    background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.08));
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px; }
    .ship-form-container fieldset .row {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
      .ship-form-container fieldset .row:first-of-type {
        border-radius: 5px 5px 0 0; }
      .ship-form-container fieldset .row:last-of-type {
        border-bottom: none;
        border-radius: 0 0 5px 5px; }
    .ship-form-container fieldset legend {
      display: none; }
  .ship-form-container label {
    position: relative;
    color: #ffffff; }
  .ship-form-container .label-text.valid, .ship-form-container .label-text-title.valid, .ship-form-container .label-text-help.valid, .ship-form-container .label-text-error.valid {
    position: absolute;
    bottom: 0; }
  .ship-form-container .label-text-title {
    position: absolute;
    top: 6px; }
  .ship-form-container .label-text-help {
    display: block;
    position: absolute;
    bottom: 6px; }
  .ship-form-container .label-text-error {
    display: block;
    font-style: normal;
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.5); }
  .ship-form-container .show-hide.ng-hide-add, .ship-form-container .show-hide.ng-hide-remove {
    transition: all linear 0.2s;
    display: block !important;
    position: absolute; }
  .ship-form-container .show-hide.ng-hide-add.ng-hide-add-active, .ship-form-container .show-hide.ng-hide-remove {
    top: 12px;
    display: block !important;
    opacity: 0; }
  .ship-form-container .show-hide.ng-hide-add, .ship-form-container .show-hide.ng-hide-remove.ng-hide-remove-active {
    top: 6px;
    display: block !important;
    opacity: 1; }
  .ship-form-container input[type="file"], .ship-form-container input[type="checkbox"], .ship-form-container input[type="radio"], .ship-form-container select {
    margin-bottom: 0; }
  .ship-form-container input[type="text"], .ship-form-container input[type="password"], .ship-form-container input[type="date"], .ship-form-container input[type="datetime"], .ship-form-container input[type="datetime-local"], .ship-form-container input[type="month"], .ship-form-container input[type="week"], .ship-form-container input[type="email"], .ship-form-container input[type="number"], .ship-form-container input[type="search"], .ship-form-container input[type="tel"], .ship-form-container input[type="time"], .ship-form-container input[type="url"], .ship-form-container input[type="color"], .ship-form-container textarea, .ship-form-container select {
    display: block;
    margin: 0;
    padding: 30px 16px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    background-color: transparent;
    transition-property: all;
    transition-duration: 0.2s;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
  .ship-form-container select {
    padding: 15px 16px;
    height: 60px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAAXNSR0IArs4c6QAAALJJREFUOBHF0MsJwzAQRVEJvMwyDaQG1+IqUkBaSFNuxttklwLk54DhCsuKPgMRDEJaXA7jQwiTc+6isTqz934ZVBs1D6PqW53btyXxVfPRWJwYqOLToPpSI16pPizUsXbfbaf6qEW4R53WIt6y63Mtwi3qvBbxGvVvLcI16jIt4iXqci3CJeo6LeI5db0W4Zy6TYt4St2uRTil7tMiTnW/FmGqbbSIb2o7LcKb+r6//3qvafsrQgUEa8IAAAAASUVORK5CYII=);
    background-position: 90% 50%;
    background-repeat: no-repeat;
    background-size: 12px;
    color: rgba(255, 255, 255, 0.7); }
  .ship-form-container input.placeholder {
    color: rgba(255, 255, 255, 0.7); }
  .ship-form-container input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.7); }
  .ship-form-container input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7); }
  .ship-form-container input:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
  .ship-form-container input:focus.placeholder {
    color: rgba(255, 255, 255, 0.4); }
  .ship-form-container input:focus:-moz-placeholder {
    color: rgba(255, 255, 255, 0.4); }
  .ship-form-container input:focus::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4); }
  .ship-form-container .checkbox {
    padding-top: 10px;
    padding-bottom: 20px; }
    .ship-form-container .checkbox input[type='checkbox'] {
      margin-left: 16px;
      margin-right: .5em; }

/* ==========================================================================
   $BASE-PICKER
   ========================================================================== */
/**
 * Note: the root picker element should *NOT* be styled more than what’s here.
 */
.picker {
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  color: #ffffff;
  position: absolute;
  z-index: 10000;
  user-select: none; }

/**
 * The picker input element.
 */
.picker__input {
  cursor: default; }

/**
 * When the picker is opened, the input element is “activated”.
 */
.picker__input.picker__input--active {
  border-color: #0CAD90; }

/**
 * The holder is the only “scrollable” top-level container element.
 */
.picker__holder {
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

/* ==========================================================================
   $BASE-DATE-PICKER
   ========================================================================== */
/**
 * The picker box.
 */
.picker__box {
  padding: .75em 1em; }

/**
 * The header containing the month and year stuff.
 */
.picker__header {
  text-align: center;
  position: relative; }

/**
 * The month and year labels.
 */
.picker__month, .picker__year {
  font-weight: 500;
  display: inline-block;
  margin-left: .25em;
  margin-right: .25em; }

.picker__year {
  color: #fefefe;
  font-size: .8em;
  font-style: italic; }

/**
 * The month and year selectors.
 */
.picker__select--month, .picker__select--year {
  border: 1px solid #b7b7b7;
  height: 2.5em;
  padding: .5em .25em;
  margin-left: .25em;
  margin-right: .25em;
  font-size: .6em;
  color: #ffffff;
  border: none;
  border-radius: 0;
  background-color: transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAAXNSR0IArs4c6QAAALJJREFUOBHF0MsJwzAQRVEJvMwyDaQG1+IqUkBaSFNuxttklwLk54DhCsuKPgMRDEJaXA7jQwiTc+6isTqz934ZVBs1D6PqW53btyXxVfPRWJwYqOLToPpSI16pPizUsXbfbaf6qEW4R53WIt6y63Mtwi3qvBbxGvVvLcI16jIt4iXqci3CJeo6LeI5db0W4Zy6TYt4St2uRTil7tMiTnW/FmGqbbSIb2o7LcKb+r6//3qvafsrQgUEa8IAAAAASUVORK5CYII=);
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer; }
  .picker__select--month:hover, .picker__select--year:hover {
    background-color: rgba(0, 0, 0, 0.2); }
  @media (min-width: 24.5em) {
    .picker__select--month, .picker__select--year {
      font-size: .8em;
      margin-top: -.5em; } }

.picker__select--month {
  width: 35%; }

.picker__select--year {
  width: 22.5%; }

.picker__select--month:focus, .picker__select--year:focus {
  border-color: #ffffff; }

/**
 * The month navigation buttons.
 */
.picker__nav--prev, .picker__nav--next {
  position: absolute;
  padding: .5em 1.25em;
  width: 1em;
  height: 1em;
  top: -.25em; }
  @media (min-width: 24.5em) {
    .picker__nav--prev, .picker__nav--next {
      top: -.33em; } }

.picker__nav--prev {
  left: -1em;
  padding-right: 1.25em; }
  @media (min-width: 24.5em) {
    .picker__nav--prev {
      padding-right: 1.5em; } }

.picker__nav--next {
  right: -1em;
  padding-left: 1.25em; }
  @media (min-width: 24.5em) {
    .picker__nav--next {
      padding-left: 1.5em; } }

.picker__nav--prev:before, .picker__nav--next:before {
  content: " ";
  border-top: .3em solid transparent;
  border-bottom: .3em solid transparent;
  border-right: .5em solid #ffffff;
  width: 0;
  height: 0;
  display: block;
  margin: 0 auto;
  top: .2em;
  left: 1.1em; }

.picker__nav--next:before {
  border-right: 0;
  border-left: .5em solid #ffffff; }

.picker__nav--prev:hover, .picker__nav--next:hover {
  cursor: pointer;
  color: #ffffff;
  background: #0fddb8; }

.picker__nav--disabled, .picker__nav--disabled:hover, .picker__nav--disabled:before, .picker__nav--disabled:before:hover {
  cursor: default;
  background: none;
  border-right-color: #000000;
  border-left-color: #000000; }

/**
 * The calendar table of dates
 */
.picker__table {
  border: none;
  background: transparent;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: inherit;
  width: 100%;
  margin-top: .75em;
  margin-bottom: .5em; }
  .picker__table thead, .picker__table tr.even, .picker__table tr.alt, .picker__table tr:nth-of-type(even) {
    background: transparent; }
  @media (min-height: 33.875em) {
    .picker__table {
      margin-bottom: .75em; } }

.picker__table td {
  margin: 0;
  padding: 0; }

/**
 * The weekday labels
 */
.picker__weekday {
  text-align: center;
  width: 14.28571%;
  font-size: .75em;
  padding-bottom: .25em;
  color: #fefefe;
  font-weight: 500;
  /* Increase the spacing a tad */ }
  @media (min-height: 33.875em) {
    .picker__weekday {
      padding-bottom: .5em; } }

/**
 * The days on the calendar
 */
.picker__day {
  padding: .3125em 0;
  font-weight: 200;
  text-align: center;
  color: #ffffff;
  border-radius: 100px; }

.picker__day--today {
  color: #0CAD90;
  position: relative; }
  .picker__day--today:before {
    content: " ";
    position: absolute;
    top: 9px;
    right: 5px;
    width: 0;
    height: 0;
    border: .3em solid #076554;
    border-radius: 100px; }

.picker__day--selected, .picker__day--selected:hover {
  border-color: #0CAD90; }

.picker__day--highlighted {
  background: #0CAD90 radial-gradient(circle at 0 0, #5C28A7 0%, #0CAD90 100%); }

.picker__day--disabled:before {
  border-top-color: rgba(255, 255, 255, 0.5); }

.picker__day--outfocus {
  color: rgba(255, 255, 255, 0.5); }

.picker__day--infocus:hover, .picker__day--outfocus:hover {
  cursor: pointer;
  color: #ffffff;
  background: #0fddb8; }

.picker__day--highlighted:hover, .picker--focused .picker__day--highlighted {
  background: #0CAD90 radial-gradient(circle at 0 0, #5C28A7 0%, #0CAD90 100%);
  color: #000000; }

.picker__day--disabled, .picker__day--disabled:hover {
  background: #000000;
  border-color: #000000;
  color: rgba(255, 255, 255, 0.5);
  cursor: default; }

.picker__day--highlighted.picker__day--disabled, .picker__day--highlighted.picker__day--disabled:hover {
  background: #010101; }

/**
 * The footer containing the "today" and "clear" buttons.
 */
.picker__footer {
  text-align: center; }

.picker__button--today, .picker__button--clear {
  background: #000000;
  color: #ffffff;
  border-radius: 100px;
  font-size: .8em;
  padding: .66em 0;
  font-weight: bold;
  width: 50%;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 0; }
  .picker__button--today:hover, .picker__button--clear:hover {
    cursor: pointer;
    color: #ffffff;
    background: #0fddb8;
    border-bottom-color: #0fddb8; }
  .picker__button--today:focus, .picker__button--clear:focus {
    background: #0fddb8;
    border-color: #0CAD90;
    outline: none; }
  .picker__button--today:before, .picker__button--clear:before {
    position: relative;
    display: inline-block;
    height: 0; }

.picker__button--today:before {
  content: " ";
  margin-right: .45em;
  top: 0;
  width: 0;
  border: .4em solid #076554;
  border-radius: 100px; }

.picker__button--clear:before {
  content: "\D7";
  margin-right: .35em;
  top: -.1em;
  color: red;
  vertical-align: top;
  font-size: 1.1em; }

/**
 * Make the holder and frame fullscreen.
 */
.picker__holder, .picker__frame {
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%; }

/**
 * The holder should overlay the entire screen.
 */
.picker__holder {
  position: fixed;
  transition: background 0.15s ease-out, top 0s 0.15s; }

/**
 * The frame that bounds the box contents of the picker.
 */
.picker__frame {
  position: absolute;
  margin: 0 auto;
  min-width: 256px;
  max-width: 666px;
  width: 100%;
  opacity: 0;
  transition: all 0.15s ease-out; }
  @media (min-height: 33.875em) {
    .picker__frame {
      overflow: visible;
      top: auto;
      bottom: -100%;
      max-height: 80%; } }
  @media (min-height: 40.125em) {
    .picker__frame {
      margin-bottom: 7.5%; } }

/**
 * The wrapper sets the stage to vertically align the box contents.
 */
.picker__wrap {
  display: table;
  width: 100%;
  height: 100%; }
  @media (min-height: 33.875em) {
    .picker__wrap {
      display: block; } }

/**
 * The box contains all the picker contents.
 */
.picker__box {
  background: rgba(38, 38, 38, 0.95);
  display: table-cell;
  vertical-align: middle; }
  @media (min-height: 26.5em) {
    .picker__box {
      font-size: 1.25em; } }
  @media (min-height: 33.875em) {
    .picker__box {
      display: block;
      font-size: 1.33em;
      box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24); } }
  @media (min-height: 40.125em) {
    .picker__box {
      font-size: 1.5em; } }

/**
 * When the picker opens...
 */
.picker--opened .picker__holder {
  top: 0;
  background: rgba(0, 0, 0, 0.27);
  transition: background 0.15s ease-out; }
.picker--opened .picker__frame {
  top: 0;
  opacity: 1; }
  @media (min-height: 33.875em) {
    .picker--opened .picker__frame {
      top: auto;
      bottom: 0; } }

/**
 * For `large` screens, transform into an inline picker.
 */
.ship-spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.8); }

.spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }

  40% {
    -webkit-transform: scale(1); } }

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }

  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

.ship-top-bar {
  background-color: rgba(0, 0, 0, 0.8); }
  .ship-top-bar a {
    color: #ffffff; }

.ship-brand {
  min-width: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.ship-brand.ship-brand.ship-brand {
  color: rgba(255, 255, 255, 0); }

.ship-header {
  height: 0;
  overflow: visible;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding-top: 150px; }
  @media screen and (min-width: 320px) {
    .ship-header {
      padding-top: 200px; } }
  @media screen and (min-width: 1024px) {
    .ship-header {
      padding-top: 300px; } }

.ship-header-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .ship-header-content:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent 33%, rgba(0, 0, 0, 0.2) 66%, rgba(0, 0, 0, 0.4) 100%); }

.ship-header-title {
  color: #ffffff; }

.ship-header-description {
  color: rgba(255, 255, 255, 0.5); }

.ship-sub-nav {
  width: 100%;
  display: flex;
  justify-content: center; }
  .ship-sub-nav .ship-sub-nav-item {
    border-bottom: 2px solid transparent; }
    .ship-sub-nav .ship-sub-nav-item a, .ship-sub-nav .ship-sub-nav-item a:hover {
      padding-top: 12px;
      padding-bottom: 12px;
      color: #ffffff;
      display: inline-block; }
    .ship-sub-nav .ship-sub-nav-item.active {
      font-weight: bold; }

.ship-achievement-title {
  color: #ffffff; }

.ship-achievement-description {
  color: rgba(255, 255, 255, 0.5); }

.ship-progress {
  width: 100%; }

.ship-progress-bar {
  width: 100%;
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of default border in Firefox. */
  border: none;
  /* For IE10 */
  color: #ffffff;
  height: 3px;
  transition: all .3s ease-out; }
  .ship-progress-bar::-webkit-progress-value {
    transition: all .3s ease-out;
    background-color: #ffffff;
    box-shadow: 0 0 8px #5C28A7; }
  .ship-progress-bar::-webkit-progress-bar {
    transition: all .3s ease-out;
    background-color: rgba(255, 255, 255, 0.15); }
  .ship-progress-bar::-moz-progress-bar {
    transition: all .3s ease-out;
    background-color: rgba(255, 255, 255, 0.15); }

.ship-progress-step {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  transition: all .3s ease-out; }
  .ship-progress-step.active {
    color: #ffffff; }

.ship-progress-dot {
  height: 11px;
  width: 11px;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: -13px;
  cursor: pointer;
  margin-left: -6px;
  background-color: #000000;
  box-shadow: inset 0 0 23px rgba(255, 255, 255, 0.35);
  transition: all .3s ease-out;
  transition-delay: .3s; }
  .ship-progress-step.active .ship-progress-dot {
    background: #ffffff;
    box-shadow: none; }

.button, input[type='submit'] {
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 120px;
  border: none;
  outline: none;
  transition: all 0.1s linear; }
  .button:active, input[type='submit']:active {
    transform: scale(.98, .98); }
  .button.primary, input[type='submit'].primary {
    color: #ffffff;
    background: #0CAD90 radial-gradient(circle at 0 0, #5C28A7 0%, #0CAD90 100%); }

.footer .sub-nav dd a {
  color: #ffffff;
  white-space: nowrap; }
