<div class="text-center mt-2 mb-2" ng-if="instant.user">
  <button translate class="button primary ng-scope" ng-click="play()">PLAY NOW</button>
</div>

<div class="text-center mt-2 mb-2" ng-if="!instant.user">
  <div ng-if="!instant.isLoggingIn">
    <button translate class="button primary ng-scope" ng-click="play('facebook')">Login with Facebook</button>
  </div>
  <div ng-if="instant.isLoggingIn">
    <h5 class="ship-login-title">
      <strong translate class="ng-scope">WAITING FOR LOGIN TO COMPLETE</strong>
    </h5>
    <p translate class="ship-login-message ng-scope">Look for the Facebook login popup and click accept</p>
    <button translate class="secondary button disabled ng-scope">Logging in</button>
  </div>
</div>
