<div class="ship-progress">
  <progress class='ship-progress-bar' min="1" max="100" value="{{progressRate()}}">
    <div class="progress-bar">
      <span style="width: {{progressRate()}}%"></span>
    </div>
  </progress>
  <div class="small-9 small-centered columns">
    <ul class="ship-progress-steps small-block-grid-{{steps.length}}">
      <li ng-class="{active: (stepIndex >= 0)}" class="ship-progress-step ship-progress-win text-center">
        <span class="ship-progress-dot"></span>
        <span translate>Play</span>
      </li>
      <li ng-class="{active: (stepIndex >= 1)}" class="ship-progress-step ship-progress-win text-center">
        <span class="ship-progress-dot"></span>
        <span translate>Form</span>
      </li>
      <li ng-class="{active: (stepIndex >= 2)}" class="ship-progress-step ship-progress-win text-center">
        <span class="ship-progress-dot"></span>
        <span translate>Result</span>
      </li>
    </ul>
  </div>
</div>
