.button, input[type='submit']{
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 120px;
  border:none;
  outline:none;
  transition: all 0.1s linear;
  &:active {
    transform: scale(.98,.98);
  }
  &.primary{
    color:$main;
    background: $primary-gradient;
  }
}
