$input-height: 30px;
$label-padding-vertical: 0.375rem;
$label-offset: $input-height/5;
$padding-horizontal:16px;

%label-text{
  padding-left: $padding-horizontal;
  padding-right: $padding-horizontal;
  color: transparentize($main,.5);
  font-weight: bold;
  font-size: 0.8em;
  margin:0;
}

.ship-form-container {
  margin: 0 auto;
  width: 300px;
  text-align: left;

  .row{
    .row{
      margin: 0;
    }
    display: block;
    border: none;
  }
  .columns, form .row .row .columns{
    padding:0; 
  }

  fieldset{
    .row{
      border-bottom: 1px solid transparentize($main,.7);
      &:first-of-type {
          border-radius: 5px 5px 0 0;
      }
      &:last-of-type {
          border-bottom: none;
          border-radius: 0 0 5px 5px
      }
    }
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    background-color: transparentize($main, .92);
    background: linear-gradient(transparentize($main, .95), transparentize($main, .92));
    border: 1px solid transparentize($main,.5);
    border-radius: 5px;
    legend{
      display: none;
    }
  }

  label {
    position: relative;
    color:$main;
  }
  .label-text, .label-text-title, .label-text-help, .label-text-error {
    @extend %label-text;
    &.valid{
      position: absolute;
      bottom: 0;
    }
  }
  .label-text-title {
    position: absolute;
    top: $label-offset;
  }
  .label-text-help {
    display: block;
    position: absolute;
    bottom: $label-offset;
  }
  .label-text-error{
    display: block;
    font-style: normal;
    color:$main;
    background-color: transparentize($error,.5);
  }

  .show-hide{
    &.ng-hide-add, &.ng-hide-remove {
      transition:all linear 0.2s;
      display:block !important;
      position: absolute;
    }
    &.ng-hide-add.ng-hide-add-active,
    &.ng-hide-remove {
      top: $label-offset*2;
      display:block !important;
      opacity: 0;
    }
    &.ng-hide-add,
    &.ng-hide-remove.ng-hide-remove-active {
      top:$label-offset;
      display:block !important;
      opacity: 1;
    }
  }

  input[type="file"], input[type="checkbox"], input[type="radio"], select{
    margin-bottom: 0;    
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="color"],
  textarea,
  select{
    display: block;
    margin: 0;
    padding: $input-height $padding-horizontal;
    color: $main;
    border:none;
    border-radius: 0;
    background-color: transparent;
    transition-property: all;
    transition-duration: 0.2s;
    box-shadow: inset 0 1px 2px transparentize($overlay, .9);
  }
  select{
    padding: $input-height/2 $padding-horizontal; 
    height: $input-height*2;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAAXNSR0IArs4c6QAAALJJREFUOBHF0MsJwzAQRVEJvMwyDaQG1+IqUkBaSFNuxttklwLk54DhCsuKPgMRDEJaXA7jQwiTc+6isTqz934ZVBs1D6PqW53btyXxVfPRWJwYqOLToPpSI16pPizUsXbfbaf6qEW4R53WIt6y63Mtwi3qvBbxGvVvLcI16jIt4iXqci3CJeo6LeI5db0W4Zy6TYt4St2uRTil7tMiTnW/FmGqbbSIb2o7LcKb+r6//3qvafsrQgUEa8IAAAAASUVORK5CYII=);
    background-position: 90% 50%;
    background-repeat: no-repeat;
    background-size: 12px;
    color: transparentize($main,.3);
  }
  input{
    &.placeholder {
        color: transparentize($main,.3);
    }
    &:-moz-placeholder {
        color: transparentize($main,.3);
    }
    &::-webkit-input-placeholder {
        color: transparentize($main,.3)
    }
    &:focus {
        outline: none;
        background-color: transparentize($overlay, .8);
        box-shadow: 0 0 5px transparentize($overlay, .7);
    }
    &:focus.placeholder {
        color: transparentize($main,.6);
    }
    &:focus:-moz-placeholder {
        color: transparentize($main,.6)
    }
    &:focus::-webkit-input-placeholder {
        color: transparentize($main,.6);
    }
  }

  .checkbox{
    padding-top: $input-height/3;
    padding-bottom:2*$input-height/3;
    input[type='checkbox']{
      margin-left: $padding-horizontal;
      margin-right: .5em;
    }
  }
}
