.ship-body{
  background-size: cover;
  background-position: center center;
  background-image: url($body_image);
}
.ship-container{
  min-height: 100%;
  background-color: transparentize($overlay,.2);
}
