.ship-sub-nav{
  width: 100%;
  display: flex;
  justify-content: center;
  .ship-sub-nav-item{
    border-bottom: 2px solid transparent;
    a, a:hover{
      padding-top:12px;
      padding-bottom:12px;
      color: $main;
      display: inline-block;
    }
    &.active{
      font-weight: bold;
    }
  }
}
