.ship-top-bar {
  background-color: transparentize($overlay,.2);
  a {
    color:$main;
  }
}
.ship-brand {
  min-width: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ship-brand.ship-brand.ship-brand{
  color:transparentize($main,1);
}
