<div class="ship-header">
  <div class="ship-header-content">
    <div class="row">
      <div class="large-12 columns text-center vertical-align-center">
        <h1 class='ship-header-title'>{{instant.ship.name}} ({{instant.currentStep}})</h1>
        <p class='ship-header-description'>{{instant.ship.description}}</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <dl class="sub-nav ship-sub-nav">
    <dd class='ship-sub-nav-item' ng-repeat="section in instant.settings.links.nav">
      <a href="{{section.url}}">{{section.name}}</a>
    </dd>
  </dl>
</div>
<div ng-switch on="instant.currentStep">

  <img ng-src="{{instant.achievement.picture && instant.achievement.picture.length ? instant.achievement.picture : null}}" />

  <div progress step="instant.currentStep" step-index="instant.currentStepIndex" steps="steps"></div>

  <div class="row" ng-switch-when="play">
    <div ng-include="'templates/hull-instant/steps/play.html'"></div>
  </div>
  <div class="row" ng-switch-when="form">
    <div ng-include="'templates/hull-instant/steps/form.html'"></div>
  </div>
  <div class="row" ng-switch-when="result">
    <div ng-include="'templates/hull-instant/steps/result.html'"></div>
  </div>
</div>

