<div class="fixed">
  <nav class="top-bar ship-top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="#" class='ship-brand' ng-style="styles.brand">&nbsp;</a>
        </h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="has-dropdown not-click" ng-if='instant.user'>
          <a href="#">{{instant.user.name}}</a>
          <ul class="dropdown">
            <li><a href="#" ng-click="logout()" translate>Log out</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>
